ctt_walmart/utils/MP/MPCommons.xsd

<?xml version="1.0" ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://walmart.com/" vc:minVersion="1.1" version="3.2" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:wm="http://walmart.com/" xmlns:xc="http://xerces.apache.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="CompatibleSpeakerSizes">
    <xsd:annotation>
      <xsd:documentation>Indicar el tamaño de la bocina para los autos</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="compatibleSpeakerSizesValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CoverMaterial">
    <xsd:annotation>
      <xsd:documentation>En las estufas, se indica el material de la parte superior del producto.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="coverMaterials">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KeyFeatures">
    <xsd:annotation>
      <xsd:documentation>Las características clave aparecerán como texto con viñetas en la página del elemento y en los resultados de búsqueda. Las características clave ayudan al usuario a comprender los beneficios del producto con un formato simple y limpio. Recomendamos usar tres o más funciones clave.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="keyFeaturesValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="500"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Actors">
    <xsd:annotation>
      <xsd:documentation>Indicar el nombre completo de los actores principales de la película</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="actor">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NumberOfPlayers">
    <xsd:annotation>
      <xsd:documentation>Especifica el número máximo de jugadores que pueden utilizar el artículo al mismo tiempo </xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="minimumNumberOfPlayers">
        <xsd:annotation>
          <xsd:documentation>El número mínimo de personas requerido para jugar el juego.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Required"/>
            <wm:displayName>Número mínimo de Jugadores</wm:displayName>
            <wm:group>Discoverability</wm:group>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:totalDigits value="7"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="maximumNumberOfPlayers">
        <xsd:annotation>
          <xsd:documentation>Especifica el número de personas ideal para el uso del producto.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Required"/>
            <wm:displayName>Número máximo de Jugadores</wm:displayName>
            <wm:group>Discoverability</wm:group>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:totalDigits value="7"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="AccessoriesIncluded">
    <xsd:annotation>
      <xsd:documentation>Indica la familia a la que pertenece el accesorio </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="accessoriesIncludedValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DubbedLanguages">
    <xsd:annotation>
      <xsd:documentation>Indica el idioma en que está doblada la película o serie.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="dubbedLanguage">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RecommendedSurfaces">
    <xsd:annotation>
      <xsd:documentation>Indica el tipo de superficie donde se puede ocupar los balones. En los aparatos de fuerza indica el tipo de superficie para mejor agarre </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="recommendedSurface">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SubtitledLanguages">
    <xsd:annotation>
      <xsd:documentation>Indicar si cuenta con subtítulos y en que idioma </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="subtitledLanguage">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VariantAttributeNames">
    <xsd:annotation>
      <xsd:documentation>Define las variantes del artículo. Las variantes están limitadas por categoría.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="variantAttributeName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Author">
    <xsd:annotation>
      <xsd:documentation>Indica al responsable de la obra literaria que se presenta en el producto.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="authorValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Connections">
    <xsd:annotation>
      <xsd:documentation>Indica la cantidad y tipo de puertos con los que cuenta el producto.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="connection">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OriginalLanguages">
    <xsd:annotation>
      <xsd:documentation>Indica el lenguaje en el que está escrito el libro.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="originalLanguage">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MemoryCardFormat">
    <xsd:annotation>
      <xsd:documentation>Se indica si el producto tiene una ranura para insertar dispositivos de almacenamiento de información (memorias).</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="memoryCardTypeValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AwardsWon">
    <xsd:annotation>
      <xsd:documentation>Indicar si el artículo cuenta con premios SI/NO. En caso de que no cuente con este atributo, se debe colocar: N/A</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="awardsWonValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductIdentifiers">
    <xsd:annotation>
      <xsd:documentation>Especifique al menos un ID de producto y su tipo de ID.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="productIdentifier" type="wm:productIdentifier"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="productIdentifier">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="productIdType">
        <xsd:annotation>
          <xsd:documentation>UPC: GTIN-12, el número de 12 dígitos que incluye el dígito de control. Si tiene menos de 12 dígitos, como el UPC-E que tiene 8 dígitos, agregue ceros iniciales de hasta 12 dígitos; GTIN: GTIN-14, el número de 14 dígitos que incluye el dígito de control. Si tiene menos de 14 dígitos, agregue ceros iniciales de hasta 14 dígitos. ISBN: Número de libro internacional estándar, el número de 10 o 13 dígitos, incluido el dígito de control .; EAN: GTIN-13, el número de 13 dígitos que incluye el dígito de control. Si tiene menos de 13 dígitos, agregue ceros iniciales de hasta 13 dígitos.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Required"/>
            <wm:displayName>Tipo de Identificación del producto</wm:displayName>
            <wm:group>Basic</wm:group>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="UPC"/>
            <xsd:enumeration value="GTIN"/>
            <xsd:enumeration value="ISBN"/>
            <xsd:enumeration value="EAN"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="productId">
        <xsd:annotation>
          <xsd:documentation>Identificación alfanumérica que identifica de forma única el producto. Se utiliza junto con &quot;Tipo de ID de producto&quot;. NOTA: Para GTIN-14 o UPC, incluya el dígito de control.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Required"/>
            <wm:displayName>Número de Identificación del producto</wm:displayName>
            <wm:group>Basic</wm:group>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="14"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="FabricCareInstructions">
    <xsd:annotation>
      <xsd:documentation>Indicar las principales instrucciones de cuidado del producto</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="fabricCareInstruction">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessorType">
    <xsd:annotation>
      <xsd:documentation>Nombre comercial de uso común para la unidad central de procesamiento.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="processorTypeValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Pattern">
    <xsd:annotation>
      <xsd:documentation>Diseño que se repite en el material que construye el artículo.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="patternValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FabricContent">
    <xsd:annotation>
      <xsd:documentation>Maquillaje material del artículo.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="fabricContentValue" type="wm:fabricContentValue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="fabricContentValue">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="0" name="materialName">
        <xsd:annotation>
          <xsd:documentation>Indica el tipo de recubrimiento que tiene el equipo de entrenamiento </xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Nombre del material de la tela</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="materialPercentage">
        <xsd:annotation>
          <xsd:documentation>Porcentaje de los elementos fibra que componen la prenda.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Optional"/>
            <wm:displayName>Porcentaje de material de la tela</wm:displayName>
            <wm:group>Additional Category Attributes</wm:group>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="16"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="CompatibleBrands">
    <xsd:annotation>
      <xsd:documentation>Seleccionar los productos con los que se puede conectar o es compatible el artículo.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="compatibleBrand">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RecommendedUses">
    <xsd:annotation>
      <xsd:documentation>Formas de uso recomendadas, para obtener el mejor beneficio y rendimiento del producto.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="recommendedUse">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductSecondaryImageURL">
    <xsd:annotation>
      <xsd:documentation>Imágenes secundarias del artículo. La URL de la imagen debe terminar en el nombre del archivo. La URL de la imagen debe ser estática y no tener redirecciones. Tipo de archivo preferido: JPEG Tipos de archivo aceptados: JPG, PNG, GIF, BMP Resolución de imagen recomendada: 3000 x 3000 píxeles a 300 ppi. Requisitos mínimos de tamaño de imagen: Capacidad de zoom: 2000 x 2000 píxeles a 300 ppp. Mínimo sin zoom: 500 x 500 píxeles a 72 ppi. Tamaño máximo de archivo: 2 MB.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="productSecondaryImageURLValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:anyURI"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContainerType">
    <xsd:annotation>
      <xsd:documentation>Indica la presentación  en la que viene el producto </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="containerTypeValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BrandLicense">
    <xsd:annotation>
      <xsd:documentation>Indica la franquicia a la que pertenece el artículo.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="globalBrandLicenseValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OperatingSystem">
    <xsd:annotation>
      <xsd:documentation>Es el conjunto de órdenes y programas que controlan los procesos básicos de una computadora y permiten el funcionamiento de otros programas. Indicar el que corresponda al producto de la lista.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="operatingSystemValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AgeRange">
    <xsd:annotation>
      <xsd:documentation>Se especifica el rango de edad para la que es apto el uso del producto.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="RangeMinimum">
        <xsd:annotation>
          <xsd:documentation>La edad mínima que alguien debe tener para usar el producto, en meses o años.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Required"/>
            <wm:displayName>Rango mínimo</wm:displayName>
            <wm:group>Discoverability</wm:group>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:totalDigits value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="RangeMaximum">
        <xsd:annotation>
          <xsd:documentation>La edad máxima que alguien puede tener para usar el producto, en promedio, en meses o años.</xsd:documentation>
          <xsd:appinfo>
            <wm:requiredLevel value="Required"/>
            <wm:displayName>Rango máximo</wm:displayName>
            <wm:group>Discoverability</wm:group>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:totalDigits value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="months"/>
            <xsd:enumeration value="years"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="SystemRequirements">
    <xsd:annotation>
      <xsd:documentation>Indicar la compatibilidad y requisitos mínimos del software y hardware.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="systemRequirement">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SoftwareCategory">
    <xsd:annotation>
      <xsd:documentation>The general category of software to which the item is most closely associated.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="softwareCategoryValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerAssistance">
    <xsd:annotation/>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="customerAssistanceValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductVideo">
    <xsd:annotation>
      <xsd:documentation>Colocar la URL del video de YouTube en donde se muestran las características del producto </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="productVideoValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CompatibleSoftwareApplications">
    <xsd:annotation>
      <xsd:documentation>Indica el nombre de las aplicaciones o dispositivos compatibles con el producto.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="compatibleSoftwareApplicationsValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DampRating">
    <xsd:annotation>
      <xsd:documentation>Indicar las condicones en que debe ser usado el artículo eléctrico </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="dampRatingValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OptaneMemory">
    <xsd:annotation>
      <xsd:documentation>Memoria con tecnología inteligente que aumenta la velocidad de la computadora. Es adicional a la capacidad de memoria RAM o de Almacenamiento. Se expresa en GB.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="optaneMemoryValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AngleUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Degree"/>
            <xsd:enumeration value="Steradian"/>
            <xsd:enumeration value="Radian"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="AreaUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Square Meters"/>
            <xsd:enumeration value="Square Centimeters"/>
            <xsd:enumeration value="Square Millimeters"/>
            <xsd:enumeration value="Square Inches"/>
            <xsd:enumeration value="Square Feet"/>
            <xsd:enumeration value="Square Yards"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="BrightnessUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Lumen Seconds Per Meter"/>
            <xsd:enumeration value="Lumens"/>
            <xsd:enumeration value="Lumens Per Watt"/>
            <xsd:enumeration value="Candelas Per Square Meter"/>
            <xsd:enumeration value="Lumen Seconds"/>
            <xsd:enumeration value="Lux Seconds"/>
            <xsd:enumeration value="Candelas"/>
            <xsd:enumeration value="Lux"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ConcentrationUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Picomolars"/>
            <xsd:enumeration value="Millimolars"/>
            <xsd:enumeration value="Moles Per Cubic Meter"/>
            <xsd:enumeration value="Nanomolars"/>
            <xsd:enumeration value="Micromolars"/>
            <xsd:enumeration value="Moles"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="CurrencyUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="USD"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DigitalCapacityUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Tebibytes"/>
            <xsd:enumeration value="Kibibytes"/>
            <xsd:enumeration value="Mebibytes"/>
            <xsd:enumeration value="Terabytes"/>
            <xsd:enumeration value="Gigabytes"/>
            <xsd:enumeration value="Gibibytes"/>
            <xsd:enumeration value="Kilobytes"/>
            <xsd:enumeration value="Megabyte"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ElectricalMeasurementUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Amps"/>
            <xsd:enumeration value="Volts"/>
            <xsd:enumeration value="Coulombs"/>
            <xsd:enumeration value="Ohms"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DataRateUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Bits Per Second"/>
            <xsd:enumeration value="Gibibits Per Second"/>
            <xsd:enumeration value="Tebibits Per Second"/>
            <xsd:enumeration value="Terabits Per Second"/>
            <xsd:enumeration value="Mebibits Per Second"/>
            <xsd:enumeration value="Megabits Per Second"/>
            <xsd:enumeration value="Kibibits Per Second"/>
            <xsd:enumeration value="Gigabits Per Second"/>
            <xsd:enumeration value="Kilobits Per Second"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="FrequencyUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Gigahertz"/>
            <xsd:enumeration value="Megahertz"/>
            <xsd:enumeration value="Hertz"/>
            <xsd:enumeration value="Kilohertz"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="LengthUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="French"/>
            <xsd:enumeration value="Meters"/>
            <xsd:enumeration value="Centimeters"/>
            <xsd:enumeration value="Yards"/>
            <xsd:enumeration value="Millimeters"/>
            <xsd:enumeration value="Inches"/>
            <xsd:enumeration value="Feet"/>
            <xsd:enumeration value="Mil"/>
            <xsd:enumeration value="Micrometers"/>
            <xsd:enumeration value="Gauge"/>
            <xsd:enumeration value="Miles"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="PercentageUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Percentage"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="PowerUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Horsepower"/>
            <xsd:enumeration value="BTUs"/>
            <xsd:enumeration value="Decibels"/>
            <xsd:enumeration value="Watts"/>
            <xsd:enumeration value="Joules"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="PressureUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Bar"/>
            <xsd:enumeration value="Psig/Bar"/>
            <xsd:enumeration value="Torr"/>
            <xsd:enumeration value="Pounds Per Square Inch"/>
            <xsd:enumeration value="Pascal"/>
            <xsd:enumeration value="Barye"/>
            <xsd:enumeration value="Pieze"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ResolutionUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Dots Per Square Inch"/>
            <xsd:enumeration value="Pixels Per Inch"/>
            <xsd:enumeration value="Volumetric Pixels"/>
            <xsd:enumeration value="Megapixels"/>
            <xsd:enumeration value="Pixels"/>
            <xsd:enumeration value="Resolution Element"/>
            <xsd:enumeration value="Surface Element"/>
            <xsd:enumeration value="Texels"/>
            <xsd:enumeration value="Dots Per Inch"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="SpeedUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Meters Per Second Squared"/>
            <xsd:enumeration value="Kilometers Per Hour"/>
            <xsd:enumeration value="Meters Per Second"/>
            <xsd:enumeration value="Revolutions Per Minute"/>
            <xsd:enumeration value="Feet Per Minute"/>
            <xsd:enumeration value="Radian Per Second"/>
            <xsd:enumeration value="Miles Per Hour"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="TimeUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Months"/>
            <xsd:enumeration value="Milliseconds"/>
            <xsd:enumeration value="Minutes"/>
            <xsd:enumeration value="Seconds"/>
            <xsd:enumeration value="Hours"/>
            <xsd:enumeration value="Years"/>
            <xsd:enumeration value="Days"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="TemperatureUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Degrees Fahrenheit"/>
            <xsd:enumeration value="Degrees Centigrade"/>
            <xsd:enumeration value="Degrees Celsius"/>
            <xsd:enumeration value="Kelvin"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VolumeUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Liters"/>
            <xsd:enumeration value="Quarts"/>
            <xsd:enumeration value="Imperial (UK) Gallons"/>
            <xsd:enumeration value="Cubic Feet"/>
            <xsd:enumeration value="Fluid Ounces"/>
            <xsd:enumeration value="Cubic Yards"/>
            <xsd:enumeration value="Milliliters"/>
            <xsd:enumeration value="Cubic Meters"/>
            <xsd:enumeration value="US Gallons"/>
            <xsd:enumeration value="Cubic Centimeters"/>
            <xsd:enumeration value="Cubic Inches"/>
            <xsd:enumeration value="Pints"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VolumetricFlowRateUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="liters per second"/>
            <xsd:enumeration value="cubic feet per second"/>
            <xsd:enumeration value="cubic meters per minute"/>
            <xsd:enumeration value="cubic meters per second"/>
            <xsd:enumeration value="gallons per second"/>
            <xsd:enumeration value="gallons per minute"/>
            <xsd:enumeration value="liters per minute"/>
            <xsd:enumeration value="cubic feet per minute"/>
            <xsd:enumeration value="gallons per day"/>
            <xsd:enumeration value="pints per day"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="WeightUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Milligrams"/>
            <xsd:enumeration value="Ounces"/>
            <xsd:enumeration value="Kilograms"/>
            <xsd:enumeration value="Pounds"/>
            <xsd:enumeration value="Grams"/>
            <xsd:enumeration value="Kilograms Per Meter"/>
            <xsd:enumeration value="Carats"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="PrintSpeedUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Pages Per Minute"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="TorqueUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Pound Feet"/>
            <xsd:enumeration value="Newton Metres"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="UltravioletRadiationUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Nanometer"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="PPUUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Each"/>
            <xsd:enumeration value="Ounce"/>
            <xsd:enumeration value="Square Foot"/>
            <xsd:enumeration value="Pound"/>
            <xsd:enumeration value="Per 100 Sheet"/>
            <xsd:enumeration value="Centimeter"/>
            <xsd:enumeration value="Foot"/>
            <xsd:enumeration value="Gram"/>
            <xsd:enumeration value="Per 100 Count"/>
            <xsd:enumeration value="Quart"/>
            <xsd:enumeration value="Milliliter"/>
            <xsd:enumeration value="Fluid Ounce"/>
            <xsd:enumeration value="Liter"/>
            <xsd:enumeration value="Pint"/>
            <xsd:enumeration value="Cubic Foot"/>
            <xsd:enumeration value="Gallon"/>
            <xsd:enumeration value="Yard"/>
            <xsd:enumeration value="Inch"/>
            <xsd:enumeration value="Kilogram"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="MetalPurityUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Karats"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="FoodEnergyUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Calories"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="FuelEconomyUnit">
    <xsd:all>
      <xsd:element maxOccurs="1" minOccurs="1" name="measure">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="unit">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Miles Per Gallon"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
</xsd:schema>
